.outerDiv{
    border-style: solid;
    border-radius: 20px;
    margin: 10px;
    background-color: transparent;
    color: white;
    max-width: 130px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.combiner{
    border-style: solid;
    padding: 10px;
}
.bottomDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.inside{
    width: 100%;
    margin-top: 20px;
}
.specialBtn{
    background-color: transparent;
    color: white;
    border-width: 0px;
}
.icon{
    width: 30px;
}